<h1> Cardapiooo</h1>

<br>

<h2> Café da manhã</h2>
<h3> Adicionar Alimento </h3>
<%= link_to "Nova comida (Café da manha)", new_food_path(meal_type: 'café')  %>
<%# quando clicar aq tem que abrir só o do cafe %>
<br><br>


<h2> Almoço</h2>
<h3> Adicionar Alimento </h3>
<%= link_to "Nova comida (Almoço)", new_food_path(meal_type: 'almoço')  %>
<%# quando clicar aq tem que abrir só o do almoço %>

<br><br>

<h2> Janta</h2>
<h3> Adicionar Alimento </h3>
<%= link_to "Nova comida (Janta)", new_food_path(meal_type: 'janta')  %>
<%# quando clicar aq tem que abrir só o do almoço %>

